img{
	height: auto;
	width: 100px;;
}

.bigImg{
	height: auto;
	width: 300px;;
}

.creditcardimg {
	max-height: 30px;
	width: auto;
}

.table {
	font-family: "Trebuchet MS", Arial, Helvettica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.table td, .table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table tr:hover {
	background-color: #ddd;
}

.table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #343a40;
	color: white;
}

* {
	font-family: helvetica;
}

.myform {
	font-size: 1.5em;
	background-color: #9eccfe;
	border-radius: 5px;
	margin: 20px;
	padding: 10px;
	text-allign: center;
	width: 50%;
}

.myform>input {
	font-size: 1.5em;
	margin: 10px;
	padding: 5px;
	border-radius: 4px;
}

.loginForm{
	display: inline-block;
}

.loginForm button{
	display: inline;
    vertical-align: middle;
}

.loginFontColor{
	color: white;
}

.displayName{
	color: white;
	font-size: 1.5em;
}

.button-container form, .button-container form div {
	display: inline;
}

.button-container button {
	display: inline;
	vertical-align: middle;
}